/***********
Import Fonts
************* */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/*
  font-family: "Sour Gummy", serif;
  font-family: "Saira Condensed", serif;
  font-family: "Poppins", serif;
*/
body{
    height: 100vh;
    font-family: "Poppins", serif; 
    background-color: var(--neutral-clr-light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:root{
/*********** COLORS************* */
--prim-clr-purple:hsl(259, 100%, 65%);
--prim-clr-light-red:hsl(0, 100%, 67%);
--neutral-clr-white:hsl(0, 0%, 100%);
--neutral-clr-off-white:hsl(0, 0%, 94%);
--neutral-clr-light-grey:hsl(0, 0%, 86%);
--neutral-clr-smokey-grey:hsl(0, 1%, 44%);
--neutral-clr-Off-black:hsl(0, 0%, 8%);
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Hides the spinners in WebKit-based browsers */
    margin: 0; /* Ensures no extra space */
}

input{
    text-align: center;
    height: 2.5rem;
    width: 90%;
    font-family: "Poppins", serif; 
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--neutral-clr-light-grey);
    font-weight: 700;
    font-size: 20px;
    
}
span{
    color: var(--prim-clr-purple);
}

.container{
    width: 50%;
    margin:auto auto auto auto;
    background-color:var(--neutral-clr-white);
    border-radius: 15px 15px 10rem 15px;
    padding: 1rem;
    height: 70vh;
}

.inputs{
    width: 80%;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--neutral-clr-light-grey);
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enterbtn{
    display: flex;
    width: 80%;
    margin: 0 auto 0;
}
hr{
    width: 80%;
    height: 1px;
    color: var(--neutral-clr-light-grey);
   border-top:.2px;
}
.btn{
    border-radius: 50%;
    border: none;
    background-color: var(--prim-clr-purple);
}
.btn img{
    width: 1.5rem;
    height: 1.5rem;
}

.output{
    width: 80%;
    margin: 0 auto 0;
}
.output *{
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    gap: 0;
    margin-top: -1rem
    
}
.year-error,.month-error,.day-error{
    color:var(--prim-clr-light-red);
}



/*responsive*/
@media (max-width:375px) {
    .output *{
        font-size: 30px;
        margin-top: -1.9rem
    }
    .output{
        margin-top: 2rem;
    }

    .container{
        width: 80%;
        margin:auto auto auto auto;
        background-color:var(--neutral-clr-white);
        border-radius: 15px 15px 5rem 15px;
        padding: 1rem;
        height: 80vh;
    }
    
    .inputs{
        font-size: 10px;
        font-weight: 500;
        gap:1rem;
         width: 100%;
       
        
    }
    input{
       
        height: 2.5rem;
        font-size: 14px;
        
    }
    .enterbtn{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto 0;
    }
    hr{
        width: 90%;
        height: 1px;
        color: var(--neutral-clr-light-grey);
       border-top:.2px;
    }
    .btn{
        border-radius: 50%;
        border: none;
        background-color: var(--prim-clr-purple);
        width: 3rem;
        height: 3rem;
        margin-top: -2rem;
       
        
    }   
}
